*.out
*~
\#*\#
experiments/*
documents/
*.zip
.ssh
\#*.*\#
.*.swp
.DS_[Ss]tore
*.o
Output*
output*
*.bak

*.txt
*.prog
*.class
examples/*
makefile
assignments/06_Spaceship/examples/
nonCreditHomework/
tests/
tutorials/
